.reviews-block {
  padding-top: 42px;
  padding-bottom: 39px;
}

.reviews-block__slider-arrow {
  display: none;
}

.reviews-block__slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-block__slider-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 276px;
  margin-left: -3px;

  &--2 {
    display: none;
  }

  &--3 {
    display: none;
  }
}

.reviews-block__slider-heading {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.reviews-block__slider-description {
  width: 280px;
  margin: 0 auto;
  margin-top: 13px;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: center;
}

.reviews-block__slider-info {
  display: none;
}

.reviews-block__slider-controls {
  display: flex;
  align-items: center;
  margin-top: 33px;
  height: 12px;
  padding-left: 16px;
}

.reviews-block__slider-controls-item {
  margin-right: 18px;
}

@media(min-width: 660px) {

  .reviews-block {
    padding-bottom: 20px;
  }

  .reviews-block__slider-item {
    width: 620px;
  }

  .reviews-block__slider-heading {
    margin-top: 35px;
    font-size: 20px;
    order: 2;
  }

  .reviews-block__slider-info {
    display: block;
    margin: 0 auto;
    margin-top: 2px;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    color: #283645;
    order: 3;
  }

  .reviews-block__slider-description {
    width: 100%;
    font-size: 18px;
  }

}

@media(min-width: 1200px) {

  .reviews-block {
    padding-top: 172px;
    padding-bottom: 22px;
  }

  .reviews-block__slider-content {
    width: 942px;
    margin-left: 3px;
    display: flex;
    justify-content: space-between;
  }

  .reviews-block__slider-arrow {
    display: block;
    width: 25px;
    height: 41px;
    margin-top: 40px;
    opacity: 0.3;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }

    &--prev {
      background: url("../img/icon-review-arrow-left.svg") no-repeat;
    }

    &--next {
      background: url("../img/icon-review-arrow-right.svg") no-repeat;
    }
  }

  .reviews-block__slider-item {
    width: 942px;
  }

  .reviews-block__slider-item::before {
    content: "";
    width: 79px;
    height: 63px;
    position: absolute;
    top: -102px;
    left: 411px;
    background: url("../img/icon-quotes.svg") no-repeat;
  }

  .reviews-block__slider-heading {
    font-size: 24px;
  }

  .reviews-block__slider-info {
    font-size: 18px;
  }

  .reviews-block__slider-description {
    width: 680px;
  }

  .reviews-block__slider-description-quotes {
    display: none;
  }

  .reviews-block__slider-controls {
    display: none;
  }

}
